subsets/*txt
src/ontology/subsets/*txt
*.tmp
src/ontology/mirror/*
src/envo/modules/*orig.owl
imports/catalog-v001.xml
src/envo/imports/catalog-v001.xml
src/envo/envo-potential-redundant-module.owl
src/envo/envo-edit-module-merge.owl
src/envo/OntologyCheck-AfterLoad

