subsets/*txt
src/ontology/subsets/*txt
*.tmp
src/ontology/mirror/*
src/envo/modules/*orig.owl
imports/catalog-v001.xml
src/envo/imports/catalog-v001.xml
src/envo/envo-potential-redundant-module.owl
src/envo/envo-edit-module-merge.owl
src/envo/OntologyCheck-AfterLoad

# from unpacked zipfiles on MacOS?
.DS_Store
.idea
src/envo/ncbitaxon.obo
subsets/nlcd2011.json
src/envo/uberon.obo
imports/fao_import.obo
imports/*_combined_seed.tsv
imports/iao_import.obo
imports/ncbitaxon_seed.owl
imports/*_import.obo
imports/*_terms.txt
imports/seed.txt
src/envo/envo-base.owl
src/envo/envo-edit-module-merged.owl
src/envo/envo-full.owl
src/envo/imports/*_combined_seed.tsv
/catalog-v001.xml
src/envo/uberon.obo.1
src/envo/tmp

venv/
